$color-bg:#F0F0F7;
$color-blanco:#FFFFFF;
$bgbody:#EDF0F5;
$gris:#43425D;
$cl1:#3B3A53;
$cl2:#43425D;
$cl3:#A5A4BF;
$cl4:#A3A6B4;
$cl5:#F5F6FA;
$cl6:#A3A0FB;
$cl7:#FF4141;
$cl8:#3CC480;
$cl9:#56D9FE;
$cl10:#A3A0FB;

///estados botones
/// 
$cl11:#3B86FF;
$cl12:#E1FAED;
$cl13:#FFE3E7;
$cl14:#FFF5E6;
$cl15:#FFEFD9;
$cl16:#FF6565;
