*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
// font-family: 'Roboto Condensed', sans-serif;
// font-family: 'Ubuntu', sans-serif;
body, html{
    background: $bgbody;
    font-family: 'Ubuntu', sans-serif;
    &::-webkit-scrollbar {
        display: none;
      }
      
    &::-webkit-scrollbar-button {
        display: none;
      }
       -ms-overflow-style:none;
      
}
a{
    text-decoration: none;
}

ul{
    padding:0;
}
ul li{
    list-style: none;
}
.btn{
    width: 100%;
    max-width: 240px;
    border: 1px solid;
    background: $gris;
    color: $color-blanco;
    transition: all 0.3s;

    &:hover{
        color: $color-blanco;
    }
    
    &.btn-line-wt{
        background: $color-blanco;
        border: 1px solid $gris;
        color: $gris;
    }
}
input[type=text],input[type=password],input[type=email]{
    border: 0 !important;
    border-bottom: 1px solid !important;
    border-radius: 0 !important;
    min-height: 60px;
    font-size: 1.2rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
}

.bgLight{
    background: $color-blanco;
}

///preloader
.preloader{
    background-color: $cl5; 
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    & .boxPreloader{
        display: flex;
        flex-direction: column;
        & img{
            mix-blend-mode: multiply;
        }
    }
}

.successtext{
    color: $cl8 !important;
}
.moratext{
    color: $cl10 !important;
}
.magentatext{
    color: $cl13 !important;
}
.orangetext{
    color: $cl15 !important;
}