.login{
    background-color: $color-blanco;
   & .left{
    position: relative;
    min-height: 100vh;
   }
   & .right{
    & .boxContent{
        width: 60%;
        
    }
   }
    & .boxImg{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background:red url(../images/img1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
    }
}